body {
  background: #f8e8a6;
}

h1,
p {
  text-align: center;
}

img {
  max-width: 900px;
  width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

a:hover {
  cursor: pointer;
}

.navbar {
  display: block;
  text-align: center;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  padding: 0px 15px 15px 0px;
}

.navbar a {
  color: green;
}
